In [11]:
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm 
import pandas as pd

In [ ]:
jobs_ = []
pages = 1200

for i in tqdm(range(pages)) :
  
    session = requests.Session()
    adapter = requests.adapters.HTTPAdapter(max_retries=20)
    session.mount('https://', adapter)
    session.mount('http://', adapter)
    page=session.get(f'https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=data%20science&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=data%20science&pDate=I&sequence={i}&startPage=31')
    soup = BeautifulSoup(page.text, 'html.parser')
    
    jobs = soup.findAll('li', class_='clearfix job-bx wht-shd-bx')
    
    for job in jobs :
        try :
            job_name = job.find('header', class_='clearfix').h2.text.strip()
            #company = job.find('h3', class_ = 'joblist-comp-name').text.strip().replace('\r\n', '')
            skills = job.find('span', class_='srp-skills').text.strip().replace(' ','')
            when_posted = job.find('span', class_='sim-posted').text.strip()
            job_description = job.find('ul', class_='list-job-dtl clearfix').li.text.split('\n')[-2]
        
        except :
            if not job_name :
                job_name = None
            elif not skills :
                skills = None
            elif not when_posted :
                when_posted = None
            elif not job_description :
                job_description = None
        
        details = {
            'Job Name':job_name,
            'Job Description':job_description,
            'Skills': skills,
            'When Posted': when_posted
        }
        
        jobs_.append(details)

 95%|█████████▌| 570/600 [36:25<01:57,  3.91s/it]

In [10]:
len(jobs_)

29975

In [12]:
df = pd.DataFrame(jobs_)

In [13]:
df.shape

(29975, 4)

In [14]:
df.head()

                            Job Name  ...          When Posted
0  Data Science Internship in Mumbai  ...    Posted 2 days ago
1    Data Science Internship in Pune  ...    Posted 2 days ago
2                       Data Science  ...  Posted few days ago
3                       Data Science  ...  Posted few days ago
4                      Data Sciences  ...  Posted few days ago

[5 rows x 4 columns]

In [15]:
df.to_csv('data_science_jobs.csv')